
.layout1card{
    text-align: center;
    background-color: #da1e5d;
    margin-bottom: 30px;
    color: #e0e0e0;
    font-size: 22px;
    font-weight: 700;
    border-radius: 14px;
    padding: 2px 0;
    line-height: 26px;
}